@media(min-width: 1200px){    
    .payment_info img {
        width: 40%;         
    }
    .image-present-content{
        text-align: center;
    }
    .image-present-content img{
        // height: 390px;

    }
    .image-present-content img{
        max-height: 495px;
    }    

    .home_conten_page{
        // margin-top: 70px;
    }
    .home_block_page_content {
        max-height: 430px;        
        margin-top: 40px;
    }
}
