@media(max-width: 991px){

    .payment_info img {
        width: 40%;         
    }
    .image-present-content{
        text-align: center;
    }
    .image-present-content img{
        height: 300px;

    }

    .home_conten_page{
        margin-top: 70px;
    }
    .home_block_page_content {
        max-height: 290px;       
    }
    .score_page{
        max-height: 270px;
    }
   
}
