@media(max-width: 767px){
    h1{
        font-size: 40px ;
        //color: #dabf28 ;
        font-family: 'Oswald', sans-serif;
    }

    h2{
        font-size: 20px;
        color: #de1e1d;  
        font-family: 'Oswald', sans-serif;
    }
    .image-present-content{
        display: none;
    } 
    .home_conten_page{
        margin-top: 70px;
    }
    .home_block_page_content {
        max-height: 300px;       
    }
    .about-us-content{
        max-height: 200px;
    }
    .payment_info{
        text-align: center;
        padding-top: 20px;
    }
    .payment_info img {
        width: 35%;        
        margin-right: 20px;
    }
    .score_page{
        max-height: 200px;
    }



    /*bootstrap menu*/
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .active > a{
        background: #cccccc; 
    }
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .active > a:hover{
        background: #5A5A5A; 
    }
    .navbar-default .navbar-text {
        color: white;
    }
    .navbar-default .navbar-nav > li > a {
        color: white;
        background: #5A5A5A;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #333;
        background: #cccccc;
    }


}
